<div class=" width-percent-70">
    <div class="panel panel-default autor-details-panel">
      <div class="panel-heading">
              Dados Processo
      </div>
      <div class="panel-body">
          <table class="table">
              <thead>
                  <tr>
                      <td>
                         CONTA LIQUIDAÇÃO
                      </td>
                      <td>
                          <label class="pull-left">Distribuição:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.data_distribuicao.strftime("%d/%m/%Y") %></div>
                      </td>
                      <td>
                          <label class="pull-left">Fórum:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.forum %></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label class="pull-left">Tipo de Ação:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.tipo_processo %></div>
                      </td>
                      <td>
                          <label class="pull-left">Data Citação:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.data_citacao.strftime("%d/%m/%Y") %></div>
                      </td>
                      <td>
                          <label class="pull-left">Cartório:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.vara %></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label class="pull-left">Data Base:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.data_base.strftime("%d/%m/%Y") %></div>
                      </td>
                      <td>
                          <label class="pull-left">Sentença Fls.:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.sentenca %></div>
                      </td>
                      <td>
                          <label class="pull-left">Número:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.numero %></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label class="pull-left">Índice da Data Base:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.indice_tabela.to_s.gsub(".",",") %></div>
                      </td>
                      <td>
                          <label class="pull-left">Acordão Fls.:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.acordao %></div>
                      </td>
                      <td>
                          <label class="pull-left">Ré(u):</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.re %></div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label class="pull-left">Tabela Atualização:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.tabela_atualizacao.nome %></div>
                      </td>
                      <td>
                          <label class="pull-left">Previdência (<%= @autor.processo.cbpm_ipesp.nome %>):</label>
                          <div data-previdencia="<%= @autor.processo.cbpm_ipesp_valor %>" class="previdencia-processo pull-left margin-left-2">
                              <%= @autor.processo.cbpm_ipesp_valor.to_s.gsub(".", ",") %> %
                          </div>
                      </td>
                      <td>
                          <label class="pull-left">Assist. Médica (<%= @autor.processo.cruz_iamspe.nome %>):</label>
                          <div data-assistencia="<%= @autor.processo.cruz_iamspe_valor %>" class="assistencia-processo pull-left margin-left-2">
                              <%= @autor.processo.cruz_iamspe_valor.to_s.gsub(".", ",") %> %
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <label class="pull-left">Juros:</label>
                          <div data-juros="<%= @autor.processo.juros %>" class="juros-processo pull-left margin-left-2">
                              <%= @autor.processo.juros.to_s.gsub(".",",") %>
                          </div>
                      </td>
                      <td>
                           <label class="pull-left">A partir de:</label>
                          <div class="pull-left margin-left-5">
                              <%= @autor.processo.data_calculo.nome %>
                          </div>
                      </td>
                      <td>
                          <label class="pull-left">Base de Calculo do Autor:</label>
                          <div class="pull-left margin-left-5"><%= @autor.processo.base_calculo_autor %></div>
                      </td>
                  </tr>
              </thead>
          </table>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
            <p> Autor(a): <%= @autor.nome %></p>
            <p> Período:
                <%= @autor.periodo_inicial.strftime("%d/%m/%Y") %> até <%= @autor.periodo_final.strftime("%d/%m/%Y") %>
            </p>
        </div>
    </div>

    <%= hidden_field_tag :autor_id, @autor.id %>

    <div class="row">
        <table class="table autor-table">
            <thead>
                <th>
                    Mês<br>de<br>Referência
                </th>
                <th>
                    Data<br>da<br>Obrigação<br>
                </th>
                <th>
                    Diferença<br>Apurada<br>
                    Fls. <%= @autor.processo.base_calculo_autor %>
                </th>
                <th>
                    Índice<br>da Data da<br>Obrigação
                </th>
                <th>
                    Índice<br>da Data da<br>Atualização<br>
                    <%= @autor.processo.data_base.strftime("%d/%m/%Y") %>
                </th>
                <th>
                    Valor<br>Principal<br>Atualizado
                </th>
                <th>
                    Desconto da<br>Previdência<br>
                    <% if @autor.processo.cbpm_ipesp_valor > 0 %>
                        <%= @autor.processo.cbpm_ipesp.nome %><br>
                        <%= @autor.processo.cbpm_ipesp_valor %>
                    <% else %>
                        <%= @autor.processo.cruz_iamspe.nome %><br>
                        <%= @autor.processo.cruz_iamspe_valor %>
                    <% end %>
                </th>
                <th>
                    Valor<br>Principal<br>Líquido
                </th>
                <th>
                    Nº de<br>Meses
                </th>
                <th>
                    Juros<br>
                    <%= @autor.processo.juros.to_s.gsub(".", ",") %> am<br>
                    a partir da<br>
                    <%= @autor.processo.data_calculo.nome %><br>
                    <% if @autor.processo.data_calculo.nome == "Data" %>
                        <%= @autor.processo.data_base.strftime("%d/%m/%Y") %>
                    <% else %>
                        <%= @autor.processo.data_citacao.strftime("%d/%m/%Y") %>
                    <% end %>
                </th>
                <th>
                    Hon. Adv. <br> 10% <br> sobre o <br>
                    Valor <br>
                    Principal <br>
                    Atualizado
                </th>
            </thead>
            <tbody>
                <% @pagamentos.order("created_at asc").each_with_index do |p , p_index| %>
                    <tr data-pagamento-id="<%= p.id %>" data-table-index="<%= p_index %>">
                        <% if p.periodo_final.length == 7 %>
                            <td class="periodo-inicial">
                                <%= p.periodo_inicial %>
                            </td>
                            <td class="periodo-final">
                                <%= p.periodo_final %>
                            </td>
                        <%else %>
                            <td class="periodo-inicial">
                                <%= I18n.t("date.abbr_month_names")[p.periodo_inicial[5..6].to_i] %>
                                /<%=p.periodo_inicial[2..3] %>
                            </td>
                            <td class="periodo-final">
                                <%= I18n.t("date.abbr_month_names")[p.periodo_final[5..6].to_i] %>
                                /<%=p.periodo_final[2..3] %>
                            </td>
                        <% end %>
                        <td>
                            <input class="periodo-value form-control pull-right" type="text" name="name"
                                    value="<%= number_with_delimiter(('%.02f' % p.periodo_value), separator: ",", delimiter: ".") %>">
                        </td>
                        <td data-valor="<%= p.indice_tabela %>" class="indice-tabela">
                            <%= p.indice_tabela.to_s.gsub(".", ",") %>
                        </td>
                        <td data-valor="<%= @indice_atualizacao %>" class="indice-atualizacao">
                            <%= @indice_atualizacao.to_s.gsub(".", ",") %>
                        </td>
                        <td data-valor="<%= p.bruto_atualizacao %>" class="bruto-atualizacao">
                            <%= p.bruto_atualizacao.to_s.gsub(".", ",") %>
                        </td>
                        <td data-valor="<%= p.previdencia %>" class="previdencia">
                            <%= p.previdencia.to_s.gsub(".", ",") %>
                        </td>
                        <td data-valor="<%= p.liquido_atualizado %>" class="liquido-atualizado">
                            <%= p.liquido_atualizado.to_s.gsub(".", ",") %>
                        </td>
                        <td data-valor="<%= p.meses %>" class="meses">
                            <%= number_with_delimiter(('%.02f' % p.meses), separator: ",", delimiter: ".") %>
                        </td>
                        <td data-valor="<%= p.juros %>" class="juros">
                            <%= p.juros.to_s.gsub(".", ",") %>
                        </td>
                        <td data-valor=" <%= p.honorario %>" class="honorario">
                            <%= p.honorario.to_s.gsub(".", ",") %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <th class="">
                    </th>
                    <th class="">
                    </th>
                    <th>
                    </th>
                    <th class="">
                    </th>
                    <th class="">
                        TOTAL:
                    </th>
                    <th class="total-bruto-atualizacao text-right">
                    </th>
                    <th class="total-previdencia text-right">
                    </th>
                    <th class="total-liquido-atualizado text-right">
                    </th>
                    <th class="">
                    </th>
                    <th class="total-juros text-right">
                    </th>
                    <th class="total-honorario text-right">
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
