<div class="panel panel-default">
  <div class="panel-heading">
      <strong>Dados Processo</strong>
  </div>
  <div class="panel-body">
      <ul class="list-inline">
      <li>
        <strong>Número:</strong>
        <%= @autor.processo.numero %>
      </li>

      <li>
        <strong>Data Distribuição:</strong>
        <%= @autor.processo.data_distribuicao %>
      </li>

      <li>
        <strong>Data Citação:</strong>
        <%= @autor.processo.data_citacao %>
      </li>

      <li>
        <strong>Cartório:</strong>
        <%= @autor.processo.vara %>
      </li>
      </ul>
      <ul class="list-inline">
      <li>
        <strong>Tipo de Ação:</strong>
        <%= @autor.processo.tipo_processo %>
      </li>

      <li>
        <strong>Data Base:</strong>
        <%= @autor.processo.data_base %>
      </li>

      <li>
        <strong>Sentença Fls.:</strong>
        <%= @autor.processo.sentenca %>
      </li>

      <li>
        <strong>Ré(u):</strong>
        <%= @autor.processo.re %>
      </li>
      </ul>
      <ul class="list-inline">
      <li>
        <strong>Acordão Fls.:</strong>
        <%= @autor.processo.acordao %>
      </li>

      <li>
        <strong>Base de Calculo do Autor:</strong>
        <%= @autor.processo.base_calculo_autor %>
      </li>

      <li>
        <strong>Tabela Atualização:</strong>
        <%= @autor.processo.tabela_atualizacao_id %>
      </li>

      <li>
        <strong>Previdência:</strong>
        <%= @autor.processo.cbpm_ipesp_id %>
      </li>

      <li>
        <strong>Previdência %:</strong>
        <%= @autor.processo.cbpm_ipesp_valor %>
      </li>
      </ul>
      <ul class="list-inline">
      <li>
        <strong>Juros:</strong>
        <%= @autor.processo.juros %>
      </li>

      <li>
        <strong>Tipo Juros:</strong>
        <%= @autor.processo.tipo_juro_id %>
      </li>

      <li>
        <strong>Assist. Médica:</strong>
        <%= @autor.processo.cruz_iamspe_id %>
      </li>

      <li>
        <strong>Assist. Médica Valor:</strong>
        <%= @autor.processo.cruz_iamspe_valor %>
      </li>

      <li>
        <strong>Data Cálculo:</strong>
        <%= @autor.processo.data_calculo_id %>
      </li>
      </ul>
  </div>
</div>
<hr>
<h5> <strong>Autor(a):</strong> <%= @autor.nome %></h5>
<h5> <strong>Período:</strong> <%= @autor.periodo_inicial %> até <%= @autor.periodo_final %> </h5>

<%= hidden_field_tag :autor_id, @autor.id %>

<div class="row">
    <table class="table autor-table">
        <thead>
            <th>
                Período
            </th>
            <th>
                Data <br>da Obrigação
            </th>
            <th>
                Principal <br> Bruto  <br>Mensal
            </th>
            <th>
                Índice da <br> Data da <br> Obrigação
            </th>
            <th>
                Índice da <br>Data da <br>Atualização <br>
                <%= @autor.processo.data_base %>
            </th>
            <th>
                Principal <br> Bruto <br> Atualizado
            </th>
            <th>
                Desconto <br> da <br> Previdência
                <%= @autor.processo.cbpm_ipesp.nome %> -
                <%= @autor.processo.cbpm_ipesp_valor %>
                <br>
                <%= @autor.processo.cruz_iamspe.nome %> -
                <%= @autor.processo.cruz_iamspe_valor %>
            </th>
            <th>
                Principal <br>Líquido<br> Atualizado
            </th>
            <th>
                Nº de Meses
            </th>
            <th>
                Juros - <%= @autor.processo.juros %> - <%= @autor.processo.tipo_juro.nome %>
                <br>
                a partir da <%= @autor.processo.data_calculo.nome %>
                <br>
                <% if @autor.processo.data_calculo.nome == "Data" %>
                    <%= @autor.processo.data_base %>
                <% else %>
                    <%= @autor.processo.data_citacao %>
                <% end %>
            </th>
            <th>
                Hon. Adv. 10% <br> do Valor Total:
                ---
            </th>
        </thead>
        <tbody>
            <% @periodos.each_with_index do |p , p_index| %>
                <%
                if @pagamentos.where(table_index: p_index).count() > 0
                        @row = @pagamentos.where(table_index: p_index)
                %>
                    <tr data-pagamento-id="<%= @row[0].id %>" data-table-index="<%= p_index %>">
                        <td class="periodo-inicial">
                            <%= @row[0].periodo_inicial %>
                        </td>
                        <td class="periodo-final">
                            <%= @row[0].periodo_final %>
                        </td>
                        <td>
                            <input class="periodo-value" type="text" name="name" value="<%= @row[0].periodo_value %>">
                        </td>
                        <td class="indice-tabela">
                            <%= @row[0].indice_tabela %>
                        </td>
                        <td class="indice-atualizacao">
                            <%= @indice_atualizacao %>
                        </td>
                        <td class="bruto-atualizacao">
                            <%= @row[0].bruto_atualizacao %>
                        </td>
                        <td class="previdencia">
                            <%= @row[0].previdencia %>
                        </td>
                        <td class="liquido-atualizado">
                            <%= @row[0].liquido_atualizado %>
                        </td>
                        <td class="meses">
                            <%= @row[0].meses %>
                        </td>
                        <td class="juros">
                            <%= @row[0].juros %>
                        </td>
                        <td class="honorario">
                            <%= @row[0].honorario %>
                        </td>
                    </tr>

                <% else %>
                    <%  @value = ""
                        if p_index == 1
                            @value = "-"
                        end
                    %>
                    <% if p.kind_of?(Array)  %>

                        <tr data-pagamento-id="" data-table-index="<%= p_index %>">
                            <td class="periodo-inicial">
                                <%= p[0] %>
                            </td>
                            <td class="periodo-final">
                                <%= p[1]%>
                            </td>
                            <td>
                                <input class="periodo-value" type="text" name="name" value="<%=@value%>">
                            </td>
                            <td class="indice-tabela">
                                <%= @tabela.where(mes: "\t"+ p[2].to_s + "\t").where(ano: "\t"+ p[3].to_s + "\t")[0].valor %>
                            </td>
                            <td class="indice-atualizacao">
                                <%= @indice_atualizacao %>
                            </td>
                            <td class="bruto-atualizacao">
                                <%=@value%>
                            </td>
                            <td class="previdencia">
                                <%=@value%>
                            </td>
                            <td class="liquido-atualizado">
                                <%=@value%>
                            </td>
                            <td class="meses">
                                <%= @meses %>
                            </td>
                            <td class="juros">
                                <%=@value%>
                            </td>
                            <td class="honorario">
                                <%=@value%>
                            </td>
                        </tr>
                    <% else %>

                        <tr data-pagamento-id="" data-table-index="<%= p_index %>">
                            <td class="periodo-inicial">
                                <%= I18n.t("date.abbr_month_names")[p.month] %>
                                <%= p.strftime("/%y") %>
                            </td>
                            <td class="periodo-final">
                                <%= I18n.t("date.abbr_month_names")[(p + 1.month).month] %>
                                <%= (p + 1.month).strftime("/%y") %>
                            </td>
                            <td>
                                <input class="periodo-value" type="text" name="name" value="<%=@value%>">
                            </td>
                            <td class="indice-tabela">
                                <%= @tabela.where(mes: "\t"+ p.strftime("%m") + "\t").where(ano: "\t"+ p.strftime("%Y") + "\t")[0].valor %>
                            </td>
                            <td class="indice-atualizacao">
                                <%= @indice_atualizacao %>
                            </td>
                            <td class="bruto-atualizacao">
                                <%=@value%>
                            </td>
                            <td class="previdencia">
                                <%=@value%>
                            </td>
                            <td class="liquido-atualizado">
                                <%=@value%>
                            </td>
                            <td class="meses">
                                <%= @meses %>
                            </td>
                            <td class="juros">
                                <%=@value%>
                            </td>
                            <td class="honorario">
                                <%=@value%>
                            </td>
                        </tr>
                    <% end %>

                <% end %>
            <% end %>
        </tbody>
        <tfoot>
            <tr>
                <th class="">
                </th>
                <th class="">
                </th>
                <th>
                </th>
                <th class="">
                </th>
                <th class="">
                    TOTAL:
                </th>
                <th class="total-bruto-atualizacao">
                </th>
                <th class="total-previdencia">
                </th>
                <th class="total-liquido-atualizado">
                </th>
                <th class="">
                </th>
                <th class="total-juros">
                </th>
                <th class="total-honorario">
                </th>
            </tr>
        </tfoot>
    </table>
    <% if @pagamentos.count == 0 %>
        <%= javascript_tag "$('.periodo-value').not(':eq(0)').val('100')" %>
        <%= javascript_tag "$('.periodo-value').trigger('change')" %>
    <% end %>
</div>
