<nav class="navbar navbar-default custom-menu">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="custom-brand">
       <ul class="nav navbar-nav navbar-left">
           <li>
               <a href="#">Cálculo</a>
           </li>
       </ul>
   </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="custom-nav">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'processos' %>">
            <%= link_to "Processo", controller: "processos", action: "new" %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
             data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Tabelas <span class="caret"></span>
         </a>
          <ul class="dropdown-menu">
              <li class="<%= 'active' if params[:controller] == 'tabela_opv' %>">
                  <%= link_to "Tabela PCA-E ", controller: "tabela_opv", action: "edit_table" %>
              </li>
              <li class="<%= 'active' if params[:controller] == 'tabela_judicial' %>">
                  <%= link_to "Tabela TPDJSP", controller: "tabela_judicial", action: "edit_table" %>
              </li>
              <li class="<%= 'active' if params[:controller] == 'tabela_fazenda' %>">
                  <%= link_to "Tabela Modulada", controller: "tabela_fazenda", action: "edit_table" %>
              </li>
              <li class="<%= 'active' if params[:controller] == 'tabela_juro' %>">
                  <%= link_to "Tabela Juros", controller: "tabela_juro", action: "edit_table" %>
              </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
