<div class="nested-fields">
    <div class="row">
        <div class="col-xs-2 ">
            <%= f.input :custas_data,
            as: :string,
            label: false,
            :input_html => {
                :placeholder => "__/__/__",
                :class => "calendario custas-data"
            }%>
        </div>
        <div class="col-xs-2 ">
            <%= f.input :custas_valor,
            as: :string,
            label: false,
            :input_html => {
                :placeholder => "valor",
                :class => "custas-valor"
            }%>
        </div>
        <div class="col-xs-2 ">
            <%= f.input :indice,
            as: :string,
            label: false,
            :input_html => {
                :disabled => true,
                :class => "custas-indice"
            }%>
        </div>
        <div class="col-xs-2 ">
            <%= f.input :custas_corrigida,
            as: :string,
            label: false,
            :input_html => {
                :disabled => true,
                :class => "custas-corrigida"
            }%>
        </div>
        <div class="col-xs-2 ">
            <%= f.input :folhas, label: false, :input_html => {
                :placeholder => "folhas"
            }%>
        </div>
        <div class="col-xs-1">
            <%= link_to_remove_association "Remover", f,
                  :class => "btn btn-danger pull-right margin-left-5 btn-remove-custa neg-margin-right-38 neg-margin-top-3"%>
        </div>
    </div>
</div>
