<%= simple_form_for @processo, :html => {:class => ' process-form'} do |f| %>
    <% if processo.errors.any? %>
        <div class="alert alert-danger alert-dismissible pull-right" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h6>
                <%= pluralize(processo.errors.count, "erro(s)") %> encontrado(s):
            </h6>
            <ul>
                <% processo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <h4>Conta de Liquidação</h4>

    <hr>
<div class="row">
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <%= f.label :data_distribuicao %>
                    <%= f.text_field :data_distribuicao,
                        class: "form-control calendario", placeholder: "__/__/__" %>
                </div>
            </div>
            <div class="col-xs-5 ">
                    <%= f.input :forum%>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <%= f.input :tipo_processo %>
            </div>
            <div class="col-xs-3">
                <div class="form-group padding-right-50">
                    <%= f.label :data_citacao %>
                    <%= f.text_field :data_citacao,
                        class: "form-control calendario", placeholder: "__/__/__" %>
                </div>
            </div>
            <div class="col-xs-2">
                <%= f.input :vara %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group ">
                    <%= f.label :data_base %>
                    <%= f.text_field :data_base,
                        class: "form-control calendario width-percent-50",
                        placeholder: "__/__/__"  %>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="padding-right-50">
                    <%= f.input :sentenca %>
                </div>
            </div>
            <div class="col-xs-3 neg-margin-left-50">
                <div class="padding-right-10">
                    <%= f.input :numero %>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label>Índice da Data Base</label>
                <h6>58,570367</h6>
            </div>
            <div class="col-xs-3">
                <div class="padding-right-50">
                    <%= f.input :acordao %>
                </div>
            </div>
            <div class="col-xs-3 neg-margin-left-50 padding-right-25">
                <%= f.input :processo_autor %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <%= f.label :tabela_atualizacao_id %>
                    <%= f.collection_select :tabela_atualizacao_id,
                    TabelaAtualizacao.all, :id, :nome,
                    {:include_blank => false}, {:class => 'form-control'} %>
                </div>
            </div>

            <div class="col-xs-3">
                <div >
                    <%= f.label :cbpm_ipesp_id %>
                    <div>
                        <%= f.collection_select :cbpm_ipesp_id,
                        CbpmIpesp.all, :id, :nome,
                        {:include_blank => false},
                        {:class => 'form-control width-percent-38 pull-left '} %>

                        <%= f.text_field :data_base,
                        class: "form-control width-percent-40 pull-left margin-left-5",
                            placeholder: "Valor %" %>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 neg-margin-left-50">
                <div class="padding-right-10">
                    <%= f.input :re %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <%= f.label :juros %>
                    <div>
                        <%= f.text_field :juros,
                            class: "form-control width-percent-25 pull-left" %>
                        <%= f.collection_select :tipo_juro_id,
                        TipoJuro.all, :id, :nome,
                        {:include_blank => false},
                        {:class => 'form-control width-percent-20 pull-left margin-left-5'} %>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label>Cruz Azul / IAMSPE</label>
                    <div>
                        <%= f.collection_select :cruz_iamspe_id,
                        CruzIamspe.all, :id, :nome,
                        {:include_blank => false},
                        {:class => 'form-control width-percent-38 pull-left'} %>
                        <%= f.text_field :cruz_iamspe_valor,
                            class: "form-control width-percent-40 pull-left margin-left-5",
                            placeholder: "Valor %" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-custom-warning width-percent-80">
            <div class="col-xs-6 col-xs-offset-6">
                <div class="form-group margin-left-35">
                    <%= f.label :base_calculo_autor %>
                    <%= f.text_field :base_calculo_autor,
                    class: "form-control width-percent-50" %>
                </div>
            </div>
        </div>
        <div class="row bg-custom-warning width-percent-80">
            <div class="col-xs-6 col-xs-offset-6 ">
                <div class="form-group margin-left-35">
                    <label>Período</label>
                    <div>
                        <%= f.text_field :periodo_inicial,
                        class: "form-control calendario width-percent-30 pull-left",
                             placeholder: "__/__/__"  %>
                        <%= f.text_field :periodo_final,
                        class: "form-control calendario width-percent-30 pull-left margin-left-22",
                            placeholder: "__/__/__" %>
                    </div>

                </div>
            </div>
        </div>
        <div class="row width-percent-80">
            <br>
            <div class="actions pull-right">
                <%= f.submit 'Gerar Pagamentos', :class => 'btn bg-custom-primary' %>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
                <strong>Inserir Autores</strong>
            </h6>
          </div>
          <div class="panel-body">

          </div>
        </div>
    </div>
</div>

<!--
    <div class="form-group">
        <%= f.label :numero, class: "control-label col-sm-3" %>
        <div class="col-sm-9">
            <%= f.text_field :numero,
            class: "form-control",
                :placeholder => "Número do processo" %>
        </div>
    </div>

    <div class="row">
        <%= f.input :numero %>
    </div>

    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :data_citacao %>
            <%= f.text_field :data_citacao, class: "form-control" %>
        </div>
    </div>

    <div class="row">
        <%= f.input :vara %>
    </div>

    <div class="row">
        <%= f.input :tipo_processo %>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :data_base %>
            <%= f.text_field :data_base, class: "form-control" %>
        </div>
    </div>

    <div class="row">
        <%= f.input :sentenca %>
    </div>

    <div class="row">
        <%= f.input :re %>
    </div>

    <div class="row">
        <%= f.input :acordao %>
    </div>

    <div class="row">
        <%= f.input :base_calculo_autor %>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :tabela_atualizacao_id %>
            <%= f.collection_select :tabela_atualizacao_id,
            TabelaAtualizacao.all, :id, :nome,
            {:include_blank => false}, {:class => 'form-control'} %>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :cbpm_ipesp_id %>
            <%= f.collection_select :cbpm_ipesp_id,
            CbpmIpesp.all, :id, :nome,
            {:include_blank => false}, {:class => 'form-control'} %>
        </div>
    </div>

    <div class="row">
        <%= f.input :cbpm_ipesp_valor %>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :periodo_inicial %>
            <%= f.text_field :periodo_inicial, class: "form-control",
            :placeholder => "__/__/__", :data => {:provide => 'datepicker' }%>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :periodo_final %>
            <%= f.text_field :periodo_final, class: "form-control",
            :placeholder => "__/__/__", :data => {:provide => 'datepicker' }%>
        </div>
    </div>

    <div class="row">
        <%= f.input :juros %>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :tipo_juro_id %>
            <%= f.collection_select :tipo_juro_id,
            TipoJuro.all, :id, :nome,
            {:include_blank => false}, {:class => 'form-control'} %>
        </div>

    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :cruz_iamspe_id %>
            <%= f.collection_select :cruz_iamspe_id,
            CruzIamspe.all, :id, :nome,
            {:include_blank => false}, {:class => 'form-control'} %>
        </div>
    </div>

    <div class="row">
        <%= f.input :cruz_iamspe_valor %>
    </div>

    <div class="row">
        <div class="form-group">
            <%= f.label :data_calculo_id %>
            <%= f.collection_select :data_calculo_id,
            DataCalculo.all, :id, :nome,
            {:include_blank => false}, {:class => 'form-control'} %>
        </div>
    </div>

    <div id="autors">
        <%= f.simple_fields_for :autors do |autor| %>
        <%= render "autor_fields", f: autor %>
        <% end %>
    </div>

-->

<% end %>
