<%= simple_form_for @processo do |f| %>
  <% if processo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(processo.errors.count, "error") %> prohibited this processo from being saved:</h2>

      <ul>
      <% processo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :numero, class: "form-control" %>

  <div class="field">
    <%= f.input :data_distribuicao %>
  </div>

  <div class="field">
    <%= f.input :data_citacao %>
  </div>

  <div class="field">
    <%= f.input :vara %>
  </div>

  <div class="field">
    <%= f.input :tipo_processo %>
  </div>

  <div class="field">
    <%= f.input :data_base %>
  </div>

  <div class="field">
    <%= f.input :sentenca %>
  </div>

  <div class="field">
    <%= f.input :re %>
  </div>

  <div class="field">
    <%= f.input :acordao %>
  </div>

  <div class="field">
    <%= f.input :base_calculo_autor %>
  </div>

  <div class="field">
    <%= f.collection_select :tabela_atualizacao_id,
        TabelaAtualizacao.all, :id, :nome, include_blank: false %>
  </div>

  <div class="field">
    <%= f.collection_select :cbpm_ipesp_id,
        CbpmIpesp.all, :id, :nome, include_blank: false %>
  </div>

  <div class="field">
    <%= f.input :cbpm_ipesp_valor %>
  </div>

  <div class="field">
    <%= f.input :periodo_inicial %>
  </div>

  <div class="field">
    <%= f.input :periodo_final %>
  </div>

  <div class="field">
    <%= f.input :juros %>
  </div>

  <div class="field">
    <%= f.collection_select :tipo_juro_id,
        TipoJuro.all, :id, :nome, include_blank: false %>
  </div>

  <div class="field">
    <%= f.collection_select :cruz_iamspe_id, CruzIamspe.all, :id, :nome, include_blank: false %>
  </div>

  <div class="field">
    <%= f.input :cruz_iamspe_valor %>
  </div>

  <div class="field">
    <%= f.collection_select :data_calculo_id,
        DataCalculo.all, :id, :nome, include_blank: false %>
  </div>

  <div id="autors">
    <%= f.simple_fields_for :autors do |autor| %>
      <%= render "autor_fields", f: autor %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
