<%= simple_form_for @processo, :html => {:class => ' process-form'} do |f| %>
<% if processo.errors.any? %>
<div class="alert alert-danger alert-dismissible pull-right" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h6>
        <%= pluralize(processo.errors.count, "erro(s)") %> encontrado(s):
    </h6>
    <ul>
        <% processo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<h4>Conta de Liquidação</h4>
<hr>

<div class="row">
    <div class="col-xs-7">
        <div class="row">
            <div class="col-xs-10">
                <%= f.input :processo_autor %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <%= f.input :re %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <%= f.input :forum %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <%= f.input :numero %>
            </div>
            <div class="col-xs-6">
                <%= f.input :tipo_processo %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <%= f.input :vara %>
            </div>
            <div class="col-xs-2">
                <%= f.input :data_distribuicao,
                as: :string,
                :input_html => {
                    :placeholder => "__/__/__",
                    :value => @processo.data_distribuicao.blank? ? '' : @processo.data_distribuicao.strftime('%d/%m/%Y'),
                    :class => "calendario"
                }
                %>
            </div>
            <div class="col-xs-2">
                <%= f.input :data_citacao,
                as: :string,
                :input_html => {
                    :placeholder => "__/__/__",
                    :value =>  @processo.data_citacao.blank? ? '' : @processo.data_citacao.strftime('%d/%m/%Y'),
                    :class => "calendario"
                } %>
            </div>
            <div class="col-xs-2">
                <%= f.input :sentenca %>
            </div>
            <div class="col-xs-2">
                <%= f.input :acordao %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <%= f.label :tabela_atualizacao_id %>
                    <%= f.collection_select :tabela_atualizacao_id,
                    TabelaAtualizacao.all, :id, :nome,
                    {:include_blank => false}, {:class => 'form-control'} %>
                </div>
            </div>
            <div class="col-xs-2">
                <%= f.input :data_base,
                as: :string,
                :input_html => {
                    :placeholder => "__/__/__",
                    :value =>  @processo.data_base.blank? ? '' : @processo.data_base.strftime('%d/%m/%Y'),
                    :class => "calendario"
                } %>
            </div>
            <div class="col-xs-2">
                <%= f.input :indice_tabela,
                    :input_html => {:disabled => true} %>
            </div>
            <div class="col-xs-2">
                <%= f.input :juros,
                as: :string,
                :input_html => { :placeholder => "Valor %" }%>
                <div class="percent-symbol margin-top-28">
                    %
                </div>
            </div>
            <div class="col-xs-2">
                <%= f.collection_select :tipo_juro_id,
                TipoJuro.all, :id, :nome,
                {:include_blank => false},
                {:class => 'form-control margin-top-23'} %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <%= f.label :cbpm_ipesp_id %>
                <%= f.collection_select :cbpm_ipesp_id,
                CbpmIpesp.all, :id, :nome,
                {:include_blank => false},
                {:class => 'form-control '} %>
            </div>
            <div class="col-xs-2">
                <%= f.input :cbpm_ipesp_valor, label: "%",
                as: :string,
                :input_html => { :placeholder => "Valor %" }%>
                <div class="percent-symbol margin-top-28">
                    %
                </div>
            </div>
            <div class="col-xs-2">
                <%= f.label :cruz_iamspe_id %>
                <%= f.collection_select :cruz_iamspe_id,
                CruzIamspe.all, :id, :nome,
                {:include_blank => false},
                {:class => 'form-control'} %>
            </div>
            <div class="col-xs-2">
                <label>%</label>
                <%= f.text_field :cruz_iamspe_valor,
                class: "form-control",
                    placeholder: "Valor %" %>
                    <div class="percent-symbol margin-top-28">
                        %
                    </div>
                </div>
                <div class="col-xs-2">
                    <label>A partir de</label>
                    <%= f.collection_select :data_calculo_id,
                    DataCalculo.all, :id, :nome,
                    {:include_blank => false},
                    {:class => 'form-control '} %>
                </div>
            </div>
            <div class="row bg-custom-warning width-percent-90">
                <div class="col-xs-4 col-xs-offset-8">
                    <div class="margin-left-6 padding-right-18 form-group">
                        <%= f.label :base_calculo_autor %>
                        <%= f.text_field :base_calculo_autor,
                        class: "form-control" %>
                    </div>
                </div>
            </div>
            <div class="row width-percent-85">
                <br>
                <div class="actions pull-right">
                    <%= button_tag 'Gerar Pagamentos', :class => "btn bg-custom-primary gerar-pagamentos" %>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <strong></strong>
                        </h6>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default panel-autor">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            <strong>Inserir Autores</strong>
                        </h6>
                    </div>
                    <div class="panel-body">
                        <div id="autors">

                            <% unless @processo.autors.empty?
                                @processo.autors.each do |a| %>
                                    <ul class="list-inline list-autor">
                                        <li>
                                            <%=
                                                link_to a.nome,
                                                :controller => :autors,
                                                :action => :show_autor_table,
                                                :autor => a.id
                                            %>
                                        </li>
                                        <li>
                                            | <%= a.periodo_inicial.strftime("%d/%m/%Y") %>
                                        </li>
                                        <li>
                                            <%= a.periodo_final.strftime("%d/%m/%Y") %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"></span>
                                        </li>
                                    </ul>
                                <% end %>
                            <% end %>

                            <%= link_to_add_association "Adicionar", f, :autors,
                            :class => "btn btn-success pull-right btn-xs btn-add-autor" %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<% end %>
