<p id="notice"><%= notice %></p>

<h1>Processos</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Data distribuicao</th>
      <th>Data citacao</th>
      <th>Vara</th>
      <th>Tipo processo</th>
      <th>Data base</th>
      <th>Sentenca</th>
      <th>Re</th>
      <th>Acordao</th>
      <th>Base calculo autor</th>
      <th>Tabela atualizacao</th>
      <th>Cbpm ipesp</th>
      <th>Cbpm ipesp valor</th>
      <th>Periodo inicial</th>
      <th>Periodo final</th>
      <th>Juros</th>
      <th>Tipo juros</th>
      <th>Cruz iamspe</th>
      <th>Cruz iamspe valor</th>
      <th>Data calculo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processos.each do |processo| %>
      <tr>
        <td><%= processo.numero %></td>
        <td><%= processo.data_distribuicao %></td>
        <td><%= processo.data_citacao %></td>
        <td><%= processo.vara %></td>
        <td><%= processo.tipo_processo %></td>
        <td><%= processo.data_base %></td>
        <td><%= processo.sentenca %></td>
        <td><%= processo.re %></td>
        <td><%= processo.acordao %></td>
        <td><%= processo.base_calculo_autor %></td>
        <td><%= processo.tabela_atualizacao_id %></td>
        <td><%= processo.cbpm_ipesp_id %></td>
        <td><%= processo.cbpm_ipesp_valor %></td>
        <td><%= processo.periodo_inicial %></td>
        <td><%= processo.periodo_final %></td>
        <td><%= processo.juros %></td>
        <td><%= processo.tipo_juro_id %></td>
        <td><%= processo.cruz_iamspe_id %></td>
        <td><%= processo.cruz_iamspe_valor %></td>
        <td><%= processo.data_calculo_id %></td>
        <td><%= link_to 'Show', processo %></td>
        <td><%= link_to 'Edit', edit_processo_path(processo) %></td>
        <td><%= link_to 'Destroy', processo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processo', new_processo_path %>
