<p id="notice"><%= notice %></p>

<p>
  Numero:
  <%= @processo.numero %>
</p>

<p>
  Data distribuicao:
  <%= @processo.data_distribuicao %>
</p>

<p>
  Data citacao:
  <%= @processo.data_citacao %>
</p>

<p>
  Vara:
  <%= @processo.vara %>
</p>

<p>
  Tipo processo:
  <%= @processo.tipo_processo %>
</p>

<p>
  Data base:
  <%= @processo.data_base %>
</p>

<p>
  Sentenca:
  <%= @processo.sentenca %>
</p>

<p>
  Re:
  <%= @processo.re %>
</p>

<p>
  Acordao:
  <%= @processo.acordao %>
</p>

<p>
  Base calculo autor:
  <%= @processo.base_calculo_autor %>
</p>

<p>
  Tabela atualizacao:
  <%= @processo.tabela_atualizacao_id %>
</p>

<p>
  Cbpm ipesp:
  <%= @processo.cbpm_ipesp_id %>
</p>

<p>
  Cbpm ipesp valor:
  <%= @processo.cbpm_ipesp_valor %>
</p>

<p>
  Juros:
  <%= @processo.juros %>
</p>

<p>
  Tipo juros:
  <%= @processo.tipo_juro_id %>
</p>

<p>
  Cruz iamspe:
  <%= @processo.cruz_iamspe_id %>
</p>

<p>
  Cruz iamspe valor:
  <%= @processo.cruz_iamspe_valor %>
</p>

<p>
  Data calculo:
  <%= @processo.data_calculo_id %>
</p>

<%= link_to 'Edit', edit_processo_path(@processo) %> |
<%= link_to 'Back', processos_path %>
